html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#game-container {
  width: 100vw;
  height: 100vh;
}
/* Force le canvas à remplir son parent */
#game-container canvas {
  display: block; /* enlève les petits gaps */
  width: 100%;
  height: 100%;
}
